{% extends 'modelo.html' %}
{% load static %}
{% block titulo %}
    <title>Sobre o projeto</title>
{% endblock %}
{% block conteudo %}
    <header class="py-5">
        <div style="background-color: white !important;" class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1>Nossa História</h1>
                        <br/>
                        <p class="lead fw-normal text-muted mb-4">Somos uma empresa criada em 2021, pela junção de jovens cientistas que tem por objetivo tornar a DBrazil , uma empresa
                        competitiva que atue no ramo da saúde, tendo mais abrangência para as tecnologias assistivas, e a preferida dos seus
                        públicos alvo. E para isso, agindo de forma transparente, ética e responsável para entregar aos nossos consumidores o
                        maior nível de excelência dos nossos resultados, visando sempre a inovação, a criatividade e a segurança.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section style="background-color: #f7e7e7 !important;" class="py-5 bg-light" id="scroll-target">
        <div style="background-color: #f7e7e7 !important;" class="container px-5 my-5">
            <div style="background-color: #f7e7e7 !important;" class="row gx-5 align-items-center">
                <div style="background-color: #f7e7e7 !important;" class="col-lg-6"><img style="background-color: #eb444c !important;" class="img-fluid rounded mb-5 mb-lg-0"
                        src="{% static 'img/logo.png' %}" alt="..."></div>
                <div style="background-color: #f7e7e7 !important;" class="col-lg-6">
                    <h2  style="color: #eb444c !important;" class="fw-bolder">Quem Somos</h2>
                    <p class="lead fw-normal text-muted mb-0">Somos uma empresa focada em desenvolver sistemas de alta qualidade para saúde para entregar uma melhor experiência médica para
                    clientes.</p>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: white !important;" class="py-5 bg-light">
        <div style="background-color: white !important;" class="container px-5 my-5">
            <div class="text-center">
                <h2  style="color: #eb444c !important;" class="fw-bolder">Nosso Time</h2>
                <p class="lead fw-normal text-muted mb-5">Dedicamos aos avanços tecnológicos e à qualidade de vida</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/Aldrem.png' %}"
                            alt="...">
                        <h5 class="fw-bolder">Aldren Martins</h5>
                        <div class="fst-italic text-muted">COO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/eduarda.png' %}"
                            alt="...">
                        <h5 class="fw-bolder">Maria Eduarda</h5>
                        <div class="fst-italic text-muted">CEO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/Kalynda.png' %}" alt="...">
                        <h5 class="fw-bolder">Kalynda Gome</h5>
                        <div class="fst-italic text-muted">CMO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/jerry.png' %}" alt="...">
                        <h5 class="fw-bolder">Jerry Leonardo</h5>
                        <div class="fst-italic text-muted">IDH</div>
                    </div>
                </div>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/seidi.png' %}" alt="...">
                        <h5 class="fw-bolder">Seidi Kun</h5>
                        <div class="fst-italic text-muted">DVD</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/andre.png' %}" alt="...">
                        <h5 class="fw-bolder">André Habibkun</h5>
                        <div class="fst-italic text-muted">DEV</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/pedro.png' %}" alt="...">
                        <h5 class="fw-bolder">Pedro Vitor</h5>
                        <div class="fst-italic text-muted">DEV</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/lazaro.png' %}" alt="...">
                        <h5 class="fw-bolder">Lázaro Alexandre</h5>
                        <div class="fst-italic text-muted">DEV</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
